NAME
       tixControl - Create and manipulate TIX Control widgets

SYNOPSIS
       tixControl pathName ?options?

STANDARD OPTIONS
       anchor          background     cursor
       relief          borderWidth    geometry


       See  the ``options'' manual entry for details on the stan-
       dard options.

WIDGET-SPECIFIC OPTIONS
       Name:                          autorepeat
       Class:                         Autorepeat
       Command-Line Switch:           -autorepeat

              Specifies whether the Control should  have  autore-
              peat  behavior.   If set to be "true", the value of
              the Control will be  automatically  incremented  or
              decremented when the user holds down the mouse but-
              ton over the arrow buttons. Only values "true"  and
              "false" will be recognized.


       Name:                          buttonBg
       Class:                         Background
       Command-Line Switch:           -buttonbg

              Specifies  the  background  of the two arrow button
              subwidgets inside the Control widget.

       Name:                          buttonFg
       Class:                         Foreground
       Command-Line Switch:           -buttonfg

              Specifies the foreground used by the two arrow but-
              ton subwdgets.

       Name:                          command
       Class:                         Command
       Command-Line Switch:           -command

              Specifies the command to be called when the Control
              is invoked: (1) when  the  user  adjust  the  value
              using  the arrowbuttons, or (2) when the user press
              <Return> inside the entry widget.

              The command will be called with  one  arguments  --
              the value of the Control widget.

       Name:                          disabledforeground
       Class:                         DisabledForeground
       Command-Line Switch:           -disabledforeground

              Specifies  the foreground color to be used when the
              Control widget is disabled.

       Name:                          entryBg
       Class:                         Background
       Command-Line Switch:           -entrybg

              Specifies the background of the entry subwidget.

       Name:                          entryWidth
       Class:                         EntryWidth
       Command-Line Switch:           -entrywidth

              Specifies the width of the entry subwidget.

       Name:                          font
       Class:                         Font
       Command-Line Switch:           -font

              Specifies the font used the entry subwidget  inside
              the Control widget.

       Name:                          foreground
       Class:                         Foreground
       Command-Line Switch:           -foreground

              Specifies  the foreground color of the entry subwd-
              get.

       Name:                          initwait
       Class:                         Initwait
       Command-Line Switch:           -initwait

              Specifies how long the  Control  should  wait  ini-
              tially  before it starts to automatically increment
              or decrement its value in the autorepeat  mode.  In
              milliseconds.

       Name:                          llimit
       Class:                         Llimit
       Command-Line Switch:           -llimit

              Specifies  the lower limit of the value of the Con-
              trol.When set to empty string, the Control  has  no
              lower limit.

       Name:                          repeatReat
       Class:                         RepeatRate
       Command-Line Switch:           -repeatrate

              Specifies how often the value of the Control widget
              should be incremented or decremented when it is  in
              the autorepeat mode. In milliseconds.

       Name:                          state
       Class:                         State
       Command-Line Switch:           -state

              Specifies  the whether the Control widget is normal
              or disabled.  Only the values  "normal"  and  "dis-
              abled" are recognized.

       Name:                          step
       Class:                         Step
       Command-Line Switch:           -step

              Specifies  by  how  much  the  value of the Control
              should be incremented or decrmented when  the  user
              press the arrow buttons.

       Name:                          ulimit
       Class:                         Ulimit
       Command-Line Switch:           -ulimit

              Specifies  the upper limit of the value of the Con-
              trol. When set to empty string, the Control has  no
              upper limit.

       Name:                          value
       Class:                         Value
       Command-Line Switch:           -value

              Specifies the value of the Control.

       Name:                          variable
       Class:                         Variable
       Command-Line Switch:           -variable

              Specifies the global variable in which the value of
              the Control should be stored. The value of the Con-
              trol  will be automatically updated when this vari-
              able is changed.

DESCRIPTION
       The tixControl command creates a new window (given by  the
       pathName  argument)  and  makes  it into a Control widget.
       Additional options, described above, may be  specified  on
       the  command  line  or in the option database to configure
       aspects of the Control such as its cursor and relief.

       The Control widget is generally used to control  a  value.
       The  user  can  adjust the value by pressing the two arrow
       buttons or by entering the value directly into the  entry.
       The  new  value  will  be checked against the user-defined
       upper and lower limits.
WIDGET COMMANDS
       The Control command creates a new Tcl command  whose  name
       is  the  same  as  the  path name of the Control's window.
       This command may be used to invoke various  operations  on
       the widget. It has the following general form:

              pathName option ?arg arg ...?

       PathName  is the name of the command, which is the same as
       the frame widget's path name.  Option and the args  deter-
       mine  the  exact  behavior  of the command.  The following
       commands are possible for Control widgets:

       pathName configure ?option? ?value option value ...?
              Query or modify the configuration  options  of  the
              widget.   If no option is specified, returns a list
              describing all of the available options  for  path-
              Name  (see  Tk_ConfigureInfo for information on the
              format of this list).  If option is specified  with
              no  value, then the command returns a list describ-
              ing the one named option (this list will be identi-
              cal  to  the  corresponding  sublist  of  the value
              returned if no option is  specified).   If  one  or
              more  option-value  pairs  are  specified, then the
              command modifies the given widget option(s) to have
              the  given  value(s);   in  this  case  the command
              returns an empty string.  Option may  have  any  of
              the values accepted by the frame command.

       pathName decr
              Decrement  the  value  of the Control widget by the
              step specified by the -step option.

       pathName get
              return the value of the Control widget.

       pathName incr
              Increment the value of the Control  widget  by  the
              step specified by the -step option.

       pathName invoke
              Cause  the command specified by the -command option
              to be invoked.

BINDINGS
       Control widgets have no default bindings.

AUTHOR
       Ioi Kim Lam - ioi@graphics.cis.upenn.edu

KEYWORDS
       TIX, Container Widgets
